<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website mencari lokasi/tempat resto yang termurah dan terpercaya">
    <title>Restoran Apps</title>
    
  </head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
  </style>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>

  <body>
    <header>
      <button id="skip-to-content" tabindex="1" class="skip-to-content" href="#content">Skip To Content
      </button>
      <div class="container">
        <h1><a href="">HALO RESTO</a></h1>
        <button class="menu">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
        <div class="navbar">
          <a href="">Home</a>
          <a href="#">Favorite</a>
          <a href="https://github.com/Azamnst">About</a>
        </div>
      </div>
    </header>

    <main>
      <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, 0.5),rgba(0, 0, 5, 0.5)), url('images/heros/hero-image_4.jpg');">
      <div class="hero__inner">
        <h1 class="hero__title">HALO RESTO</h1>
        <p class="hero__subtitle">
          Sebuah Website Terpercaya dan Mencari Resto Termurah!!!
        </p>
      </div>
    </div>

      <div id="content">
        <div class="card-container"></div>
      </div>
    </main>
    <footer>
      <p>Copyright © 2023 - Halo Resto</p>
    </footer>
  </body>
</html>